.message-container {
  width: 100%;
  display: flex;

  .message {
    width: fit-content;

    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 4px;

    .message__avatar {
      width: 32px;
      min-width: 32px;
      max-width: 32px;
      gap: 8px;
    }
    .message__content {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .message__content__name {
        font-weight: 700;
      }
    }
  }
}

.message__member {
  max-width: 60%;

  .message__content__message {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    text-align: left;
    padding: 8px 12px;

    .message__content__date {
      position: sticky;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 2px;
      font-size: 12px;
      transform: translateY(6px);
      margin: 2px;

      img {
        width: 20px;
      }
    }
  }
}

.message__you {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;

  .message__content {
    max-width: 100%;

    background-color: #407ec929;
    padding: 8px 12px;

    .message__content__message {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 4px;

      .message__content__date {
        position: sticky;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 2px;
        font-size: 12px;
        transform: translateY(6px);
        margin: 2px;

        img {
          width: 20px;
        }
      }
    }
  }
}

.next-message__content__message {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  padding: 8px 12px;
}

.new-sender {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 9px;

  .message-container {
    .message__you {
      margin-left: 40%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
