:root {
  --blue: rgba(64, 126, 201, 0.08);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.chat__page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-height: 100vh;
}

.chat__workspace {
  position: relative;
  height: 100%;
  width: 100%;
}

.chat__header {
  max-height: 42px;
  min-height: 42px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #ccc;

  padding: 11px 18px;
}

.chat__header img {
  width: 20px;
  height: 20px;
}